.title-bar .item {
    position: absolute;
    right: 0;
    width: 45px;
    display: flex;
    justify-content: center;
    color: #a4b0be;
}

.title-bar .item:hover {
    background: #ff5252;
    color: white;
}

.title-bar .item .icon {
    margin: auto;
    width: 100%;
}
