.channel-container {
    border-top: 1px solid #4B5161;
    position: absolute;
    bottom: 0;
    width: -webkit-calc(100% - 40px);
    margin: 25px 20px;
    font-family: "Lato";
}

.channel-container .inner {
    background: #454B59;
    margin-top: 15px;
    border-radius: 5px;
}

.channel-container .inner .text-area {
    background: transparent;
    color: #B6C6EB;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    width: -webkit-calc(100% - 20px);
    min-height: 18px;
    max-height: 144px;
    padding: 10px;
}

.channel-container .inner .text-area::placeholder {
    color: #768199;
}

.channel-container .inner .text-area::-webkit-scrollbar {
    width: 14px;
}

.channel-container .inner .text-area::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: solid;
    border-color: #454B59;
    border-width: 3px;
}

.channel-container .inner .text-area::-webkit-scrollbar-track {
    background: #393E4A;
}

.channel-container .inner .text-area::-webkit-scrollbar-thumb {
    background: #292D36;
}
